.todo-content {
    @include dFlex('');
    flex-direction: column;
    padding: 20px;
    .content-header {
        position: relative;
        @include dFlex('center');
        height: 150px;
        font-size: 2rem;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(palette(1), .35);
            border-radius: 10px;
            height: 5px;
            width: 100%;
        }
    }
}
.content-body {
    position: relative; 
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
    .create-todo {
        display: flex;
        .add-todo {
            flex-grow: 1;
            font-size: 1.5rem;
            color: palette(1);
            ::placeholder {
                color: rgba(palette(1), .5);
            }
            .other-options {
                width: auto;
            }
        }
        .importance,
        .priority,
        .deadline {
            cursor: pointer;
        }
        .priority {
            svg {
                fill: rgba(palette(1), .25);
            }
            &.active {
                svg {
                    fill: palette(2);
                }
            }
        }
    }
    .todo-item {
        position: relative;
        @include dFlex('space-btwn');
        padding: 10px 0 5px;
        font-size: 1.8rem;
        border-bottom: 2px solid rgba(palette(1), .3);
        margin: 10px 0 5px 0;
        .complete {
            position: relative;
            top: 2px;
            display: inline-block;
            width: 15px;
            height: 15px;
            border: solid palette(1) 3px;
            border-radius: 5px;
            cursor: pointer;
            &.active {
                &::after {
                    content: "";
                    position: absolute;
                    left: -8px;
                    bottom: 3px;
                    width: 25px;
                    height: 4px;
                    border-radius: 10px;
                    transform: rotate(45deg);
                    background: palette(2);
                }
            }
        }
        .todo-text {
            width: 100%;
        }
        .todo-info {
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            bottom: -50%;
            left: 0;
            font-size: 1rem;
        }
        .importance-info {
            display: flex;
            align-items: center;
        }
        .created-at,
        .importance,
        .priority {
            padding-right: 10px;
            color: rgba(palette(1), .6);
            width: 100%;
        }
        .importance {
            &.alert {
                color: palette(3);
            }
            &.important {
                color: palette(1);
            }
        }
        .todo-element {
            width: 85%;
            font-size: 1rem;
            color: palette(1);
            &:focus {
                border: 3px solid rgba(palette(2), .3);
            }
        }
        .priority {
            svg {
                fill: palette(2);
            }
        }
        .delete-todo {
            opacity: 0;
            margin-right: 0;
            cursor: not-allowed;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 250ms ease;
            svg {
                fill: palette(2);
            }
        }
        &:hover {
            .delete-todo {
                opacity: 1;
                cursor: pointer;
                margin-right: 15px;
            }
        }
    }
}

.slide-enter-active {
    transition: all 250ms ease;
}
  
.slide-leave-active {
    transition: all 300ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-enter, 
.slide-leave-to {
    transform: translateX(-100px) scale(.85);
    opacity: 0;
}